{% include 'courierheader.html'%}


 <!-- ======= Hero Section ======= -->
  <section id="hero" style="height: 1200px;">
    <div class="hero-container">
<center>
	<h1>view Order</h1>
	<form>
		<table class="table" style="width: 500px;color:aliceblue">
			<tr>
					<th>sino</th>
					<th>Customer</th>
				<th>SubCategory</th>
				<th>Color</th>
				<th>Brand</th>

				
				<th>Name</th>
				<th>Description</th>
				<th> Image</th>
				<th> price</th>
				<th>quantity</th>
				
				<th>Status</th>
				
			</tr>
			{% for row in data['book']%}
    	<tr>
    		<td>{{loop.index}}</td>
    		<td>{{row['customer_fname']}}</td>
    		
    		<td>{{row['subcategory_name'] }}</td>
    		<td>{{row['color_name']}}</td>
    		<td>{{row['brand_name']}}</td>
    		<td>{{row['product_name']}}</td>
    		<td>{{row['product_description'] }}</td>
    		<td><img src="/{{row['product_image'] }}" height="100" width="100"></td>
    		<td>{{row['total_price']}}</td>
    		
    		<td>{{row['quantity'] }}</td>
    		<td>{{row['order_status']}}</td>

    		{% if row['order_status']=='Assign'%}

    		<td><a href="?action=picked&oid={{row['order_master_id']}}">picked</a></td>

    		{% elif row['order_status']=='Picked'%}
    		<td><a href="?action=Delivered&oid={{row['order_master_id']}}">Delivered</a></td>
    		

    		{% endif %}
    		
   
    		
    	</tr>
    	{% endfor %}
   
		</table>
	</form>
</center>

</div></section>
{% include 'footer.html'%}