{% include 'customerheader.html'%}
 <!-- ======= Hero Section ======= -->
  <section id="hero" style="height: 700px;color: white">
    <div class="hero-container">


<script type="text/javascript">
	function TextOnTextChange()
	{
		var x =document.getElementById("p_amount").value;
		var y =document.getElementById("p_qnty").value;
		document.getElementById("t_amount").value = x * y;
	}

</script> 
<center>
<h1>Add To Cart</h1>
<form method="post" enctype="multipart/form-data">

	<table class="table" style="width:500px;color: white">

		<tr>
			
			<td align="center" colspan="2"><img src="/{{data['pimg']}}"   width="100" height="100"></td>
		</tr>
		<tr>
			<th>Product Name</th>
			<td><input type="text" required="" value="{{data['pname']}}" readonly class="form-control" name="fname"></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><textarea name="dis" required=""  readonly  class="form-control">{{data['pdis']}}</textarea></td>
		</tr>
		
		<tr>
			<th>Amount</th>
			<td><input type="number" required=""readonly class="form-control" value="{{data['pamo']}}" readonly=""  id="p_amount" name="amount"></td>
		</tr>

		
		<tr>
			<th>quantity</th>
			<td><input type="number" required="" min="1" class="form-control"  id="p_qnty" onchange="TextOnTextChange()" name="quantity"></td>
		</tr>
		<tr>
			<th>Total</th>
			<td><input type="number" required="" readonlyclass="form-control" readonly="" id="t_amount" name="total"></td>
		</tr>
		
		<td align="center" colspan="2"><input type="submit" name="cart" value="submit" class="btn btn-success"></td>
	</table>

</form>
</center>

</div></section>

{% include 'footer.html'%}
