{% include 'customerheader.html'%}


 <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">

<center>
<h1>Add card</h1>
<form method="post">
	

	<table class="table" style="width:500px;color: white">
		<tr>
			<th>Card Number</th>
			<td><input type="text" required=""  title="Enter 16 Digits" pattern="[0-9]{16}"  maxlength="16" class="form-control" name="num"></td>
		</tr>
		<tr>
			<th> Card Name</th>
			<td><input type="text" required="" class="form-control" name="name"></td>
		</tr>

		<tr>
			<th>Expiry Date</th>
			<td><input type="date" min="{{today}}" required="" class="form-control" name="date"></td>
		</tr>
		
		<tr>
		<td align="center" colspan="2"><input type="submit" name="card" value="submit" class="btn btn-success"></td>
		</tr>
	</table>

</form>
</center>

</div></section>
{% include 'footer.html'%}